body {
    padding-top: 2em;
    overflow-y: hidden;
}

td {
    white-space: nowrap;
    padding-right: 10px;
    font-size: smaller;
    padding: 5px;
}

#main {
    outline: 0;
}

#playerContainer {
    border: solid 1px #dddddd;
    float:right;
}

#contentRow {
    padding-top: 2em;
}

.glyph {
    padding-left: 1em;
    padding-right: 1em;
}

.angleDown {
    font-size: x-small;
    color: lightgray;
}

.hidden {
    visibility: hidden;
}

#sessionsDropDown {
    margin-right: 4px;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 30em;
    max-width: 60em;
    font-size: larger;
}

/* links */

#links a {
    display:block;
}

/* keys */

.keyStroke {
    color: blue;
    cursor: pointer;
}

/* markers */

.marker {
    cursor: pointer;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
}

    .marker:hover {
        border: 1px solid #d0d0d0;
    }

.deleteMarkerButton {
    position: relative;
    top: 4px;
    cursor: pointer;
}

.marker .deleteMarkerButton {
    visibility: hidden;
}

.marker:hover .deleteMarkerButton {
    visibility: visible;
}

.activeMarker {
    background-color: cadetblue;
}

.marker span {
    display: inline-block;
}

    .marker span:nth-child(1) {
        width: 15px;
    }

    .marker span:nth-child(3) {
        width: 60px;
    }


/* sessionDialog */
#sessionDialog {
    display: none;
    padding-right: 14px;
}

#sessionDialog fieldset {
    padding-top: 1em;
    border:none;
}

    #sessionDialog fieldset input {
        width: 100%;
        margin-left: 7px;
    }

.ui-dialog-titlebar {
    padding: 5px;
    letter-spacing: .1rem;
    font-weight: 600;
}

.ui-dialog {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.ui-dialog-buttonset {
    float: right;
    padding: 5px;
    padding-right: 7px;
}

    .ui-dialog-buttonset button {
        margin-left: 5px;
    }

.ui-dialog-buttonpane {
    height: 55px;
    padding: 5px;
    padding-right: 10px;
}

.ui-dialog-titlebar-close {
    display: none;
}

/* skeleton overrides */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    text-transform: initial;
    text-align: initial;
}

button[disabled] {
    color: #d0d0d0;
    background-color: white;
    border-color: gray;
}

/* skeleton overrides */
