body {
    padding: 5px;
}

body, input, button {
    font-size: 18pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
    white-space: nowrap;
}

#main {
    outline: 0;
    position: absolute;
    height: 95%;
    width: 95%;
}

    #main table td {
        vertical-align: top;
    }

#markers {
    position: absolute;
    display: inline;
    padding-left: 40px;
}

.marker {
    cursor: pointer;
    padding: 2px;
}

.deleteMarkerButton {
    position: relative;
    top: -6px;
    left: -2px;
    cursor:pointer;
}

.glyph {
    border: none;
    width: 42px;
    height: 42px;
    background-color: white;
    cursor:pointer;
}

    .glyph div {
        margin-left: 5px;
    }

    .glyph:hover {
        background-color: LightPink;
    }


.marker .deleteMarkerButton {
    visibility: hidden;
}

.marker:hover .deleteMarkerButton {
    visibility: visible;
}

.activeMarker {
    background-color: cadetblue;
}

.marker span {
    display: inline-block;
}

    .marker span:nth-child(1) {
        width: 20px;
    }

    .marker span:nth-child(3) {
        width: 80px;
    }

.marker:hover {
    background-color: LightPink;
}

.title {
    font-size: larger;
    font-weight: bolder;
    border-bottom: 1px solid black;
    width: 100%;
}

.keyStroke {
    color: blue;
    cursor:pointer;
}

#keyStrokes {
    display: inline-flex;
    float: right;
    font-size:smaller;
}

.keysDisabled {
    opacity: 0.4;
}

#keyStrokes td {
    padding-right: 10px;
    font-size: smaller;
}

#sessions {
    padding-top: 5px;
    padding-bottom: 5px;
}

#debug {
    display: none;
}

#sessionDialog {
    display: none;
}

    #sessionDialog input {
        width: 100%;
    }

.ui-dialog-titlebar {
    background-color: #333333;
    color: white;
    padding: 5px;
}

.ui-dialog {
    background-color: white;
    border: 1px solid gray;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

fieldset {
    margin: 0px;
    padding: 20px;
    border: none;
}

.dropdown-display {
	overflow:hidden;
}

.ui-dialog-buttonset {
    float: right;
    padding: 5px;
    padding-right: 7px;
}

    .ui-dialog-buttonset button {
        margin-left: 5px;
    }

.ui-dialog-buttonpane {
    height: 55px;
    padding: 5px;
    padding-right: 10px;
}

.ui-dialog-titlebar-close {
    display: none;
}

input {
    padding: 6px;
}

button {
    height: 42px;
}

label, input {
    display: block;
}

#sessionDialog {
    padding-right: 14px;
}

#sessionsDropDown {
    margin-right: 5px;
    margin-left: 2px;
}

#playerContainer {
    border: solid 1px #dddddd;
}

.angleDown {
    font-size: x-small;
    color: lightgray;
}

.hidden {
    visibility: hidden;
}
