<!doctype html>
<html lang="en" ng-app="mppApp">
<head>
    <meta charset="utf-8">
    <title>Musician's Practicing Player</title>

    <!-- build:css styles/styles.css -->
    <link rel="stylesheet" href="styles/sprites.css">
    <link rel="stylesheet" href="styles/dropdown.css">
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->

    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- build:js scripts/vendor.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="../bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script src="../jquery_custom/external/jquery/jquery.js"></script>
    <script src="../jquery_custom/jquery-ui.min.js"></script>
    <!-- endbuild -->
    <!-- build:js(.tmp) scripts/scripts.js -->
    <script src="scripts/dropdown.js"></script>
    <script src="scripts/filter.js"></script>
    <script src="scripts/xlate-filter.js"></script>
    <script src="scripts/session-service.js"></script>
    <script src="scripts/keys.js"></script>
    <script src="scripts/main-ctrl.js"></script>
    <script src="scripts/session-dialog.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
</head>

<body ng-controller="MainCtrl as ctrl">

    <div id="main" ui-event="{ keydown: 'ctrl.keyDown($event)' }" tabindex="0">

        <div style="display:inline-block">
            <table>
                <tr>
                    <td>
                        <div id="playerContainer" style="width:410px;height:250px">
                            <youtube-video id="player" player-width="410" player-height="250" video-url="session.videoUrl" player="mppPlayer"></youtube-video>
                        </div>
                    </td>
                    <td>
                        <div id="markers">
                            <div ng-class="{activeMarker: ($index + 1 === ctrl.activeMarkerNumber)}" class="marker" ng-repeat="marker in session.markers" ng-click="ctrl.seek($index + 1)">
                                <span title="{{'SEEK_TO_MARKER'|xlate}}" class="keyStroke">{{ $index > 9 ? '' : $index == 9 ? 0 : $index + 1 }}</span><span ng-class="{hidden:$index>9}">-</span>  <span title="{{'SEEK_TO_MARKER'|xlate}}">{{marker | marker}}</span><span title="{{'DELETE_MARKER'|xlate}}" class="deleteMarkerButton icon-minus" ng-click="ctrl.deleteMarker($index)"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="keyStrokes">
            <table>
                <tr><td><span class="keyStroke" ng-click="ctrl.playPause()">{{'SPACE'|xlate}}</span></td><td>{{'PLAY_PAUSE'|xlate}}</td></tr>
                <tr><td><span class="keyStroke" ng-click="ctrl.seekToStart()">{{'RETURN'|xlate}}</span></td><td>{{'SEEK_TO_START'|xlate}}</td></tr>
                <tr><td><span class="keyStroke" ng-click="ctrl.backwardForward(true)">←&nbsp;</span>&nbsp;<span class="keyStroke" ng-click="ctrl.backwardForward(false)">&nbsp;→&nbsp;</span></td><td>{{'BACKWARD_FORWARD'|xlate}}</td></tr>
                <tr><td><span class="keyStroke" ng-click="ctrl.addMarker()">m</span></td><td>{{'ADD_MARKER'|xlate}}</td></tr>
                <tr><td><span class="keyStroke" style="cursor:inherit">1-0</span></td><td>{{'SEEK_TO_MARKER'|xlate}}</td></tr>
                <tr><td><span class="keyStroke" ng-click="ctrl.seekToActiveMarker()">{{'BACKSPACE'|xlate}}</span></td><td>{{'SEEK_TO_ACTIVE_MARKER'|xlate}}</td></tr>
                <tr><td><span class="keyStroke" ng-click="ctrl.moveActiveMarker(true)">↑&nbsp;</span>&nbsp;<span class="keyStroke" ng-click="ctrl.moveActiveMarker(false)">&nbsp;↓&nbsp;</span></td><td>{{'MOVE_ACTIVE_MARKER'|xlate}}</td></tr>
            </table>
        </div>

        <div id="sessions">
            <dropdown id="sessionsDropDown" list="sessions" selected="session" property="name"></dropdown>
            <button class="glyph" title="{{'ADD_SESSION'|xlate}}" ng-click="ctrl.addSession()"><div class="icon-plus "></div></button>
            <button class="glyph" title="{{'EDIT_SESSION'|xlate}}" ng-click="ctrl.editSession()"><div class="icon-edit"></div></button>
            <button class="glyph" title="{{'DELETE_SESSION'|xlate}}" ng-click="ctrl.deleteSession()"><div class="icon-minus"></div></button>
        </div>

        <div id="links">
            <a ng-if="session.lyricsUrl" href="{{session.lyricsUrl}}" target="_blank">{{'LYRICS'|xlate}}</a>
            <a ng-if="session.tabsUrl" href="{{session.tabsUrl}} target=" _blank">{{'TABS'|xlate}}</a>
            <div ng-repeat="link in links">
                <a href="{{link.url}}" target="_blank">{{link.title}}</a>
            </div>
        </div>

        <div id="sessionDialog" title="">
            <form>
                <fieldset>
                    <input autofocus placeholder="{{'NAME'|xlate}}" ng-model="editingSession.name" type="text" class="text ui-widget-content">
                    <br>
                    <input placeholder="{{'YT_URL'|xlate}}" id="sessionDialogVideoUrl" ng-model="editingSession.videoUrl" type="text" class="text ui-widget-content">
                    <br>
                    <input placeholder="{{'LYRICS_URL'|xlate}}" ng-model="editingSession.lyricsUrl" type="text" class="text ui-widget-content">
                    <br>
                    <input placeholder="{{'TABS_URL'|xlate}}" ng-model="editingSession.tabsUrl" type="text" class="text ui-widget-content">
                    <br>
                    <input placeholder="{{'MORE_LINKS'|xlate}}" ng-model="editingSession.links" type="text" class="text ui-widget-content">
                    <span style="font-size:small;float:right">format: [title1=]url1[MPP[title2=]url2]...</span>
                    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
