button {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    display: flex;

    & > .track-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }

    & > .caret {
        margin-top: 10px;
    }
}

.dropdown-menu > li > a {
    text-overflow: ellipsis;
    overflow: hidden;
}