mpp-yt-player {
    iframe {
        width: 15%;
    }
}

.top-container {
    display: flex;
}

.mpp-root {
    outline: none;
}

mpp-action-bar {
    margin-bottom: 20px;
}

@media (max-width: 400px) {
  .modal-xs { width: 300px; }
}

modal-body form .form-control {
    margin-bottom: 10px;
}

.track-modal-video-url {
    position: relative;

    .icon-goto-yt {
        position: absolute;
        top: 5px;
        left: 93%;
        cursor: pointer;
        font-size: x-large;
    }
}