<table class="table">
  <tr>
    <td>{{'PLAY_PAUSE'|xlate}}</td>
    <td><span class="key-stroke" (click)="playPause()">{{'SPACE'|xlate}}</span></td>
  </tr>
  <tr>
    <td>{{'SEEK_TO_START'|xlate}}</td>
    <td><span class="key-stroke" (click)="seekToStart()">{{'RETURN'|xlate}}</span></td>
  </tr>
  <tr>
    <td>{{'BACKWARD_FORWARD'|xlate}}</td>
    <td><span class="key-stroke" (click)="backwardForward(true)">←&nbsp;</span>&nbsp;<span class="key-stroke" (click)="backwardForward(false)">&nbsp;→&nbsp;</span></td>
  </tr>
  <tr>
    <td>{{'ADD_MARKER'|xlate}}</td>
    <td><span class="key-stroke" (click)="addMarker()">m</span></td>
  </tr>
  <tr>
    <td>{{'SEEK_TO_MARKER'|xlate}}</td>
    <td><span class="key-stroke" style="cursor:inherit">1-0</span></td>
  </tr>
  <tr>
    <td>{{'SEEK_TO_ACTIVE_MARKER'|xlate}}</td>
    <td><span class="key-stroke" (click)="seekToActiveMarker()">{{'BACKSPACE'|xlate}}</span></td>
  </tr>
  <tr>
    <td>{{'MOVE_ACTIVE_MARKER'|xlate}}</td>
    <td><span class="key-stroke" (click)="moveActiveMarker(true)">↑&nbsp;</span>&nbsp;<span class="key-stroke" (click)="moveActiveMarker(false)">&nbsp;↓&nbsp;</span></td>
  </tr>
</table>